.rank {
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rank img {
    height: 100%;
    object-fit: contain;
}

.rank-wrapper,
.badges-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rank-wrapper > p,
.badges-wrapper > p {
    margin-right: 15px;
}

.badge {
    height: 30px;
    padding: 5px 10px;
    background-color: var(--greyBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
}

.badge.first {
    background-color: gold;
}

.badge.second {
    background-color: silver;
}

.badge.third {
    background-color: #cd7f32;
}

.stats-wrapper {
    border-top: 2px solid var(--greyBackground);
    margin-top: 10px;
    padding-top: 10px;
}

.stats-wrapper > div {
    display: flex;
    gap: 15px;
}